In [3]:
import warnings
warnings.filterwarnings('ignore')

In [4]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [5]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

# Read the CSV and Perform Basic Data Cleaning

In [6]:
# https://help.lendingclub.com/hc/en-us/articles/215488038-What-do-the-different-Note-statuses-mean-

columns = [
    "loan_amnt", "int_rate", "installment", "home_ownership",
    "annual_inc", "verification_status", "issue_d", "loan_status",
    "pymnt_plan", "dti", "delinq_2yrs", "inq_last_6mths",
    "open_acc", "pub_rec", "revol_bal", "total_acc",
    "initial_list_status", "out_prncp", "out_prncp_inv", "total_pymnt",
    "total_pymnt_inv", "total_rec_prncp", "total_rec_int", "total_rec_late_fee",
    "recoveries", "collection_recovery_fee", "last_pymnt_amnt", "next_pymnt_d",
    "collections_12_mths_ex_med", "policy_code", "application_type", "acc_now_delinq",
    "tot_coll_amt", "tot_cur_bal", "open_acc_6m", "open_act_il",
    "open_il_12m", "open_il_24m", "mths_since_rcnt_il", "total_bal_il",
    "il_util", "open_rv_12m", "open_rv_24m", "max_bal_bc",
    "all_util", "total_rev_hi_lim", "inq_fi", "total_cu_tl",
    "inq_last_12m", "acc_open_past_24mths", "avg_cur_bal", "bc_open_to_buy",
    "bc_util", "chargeoff_within_12_mths", "delinq_amnt", "mo_sin_old_il_acct",
    "mo_sin_old_rev_tl_op", "mo_sin_rcnt_rev_tl_op", "mo_sin_rcnt_tl", "mort_acc",
    "mths_since_recent_bc", "mths_since_recent_inq", "num_accts_ever_120_pd", "num_actv_bc_tl",
    "num_actv_rev_tl", "num_bc_sats", "num_bc_tl", "num_il_tl",
    "num_op_rev_tl", "num_rev_accts", "num_rev_tl_bal_gt_0",
    "num_sats", "num_tl_120dpd_2m", "num_tl_30dpd", "num_tl_90g_dpd_24m",
    "num_tl_op_past_12m", "pct_tl_nvr_dlq", "percent_bc_gt_75", "pub_rec_bankruptcies",
    "tax_liens", "tot_hi_cred_lim", "total_bal_ex_mort", "total_bc_limit",
    "total_il_high_credit_limit", "hardship_flag", "debt_settlement_flag"
]

target = ["loan_status"]

In [7]:
# Load the data
file_path = Path('LoanStats_2019Q1.csv')
df = pd.read_csv(file_path, skiprows=1)[:-2]
df = df.loc[:, columns].copy()

# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')

# Drop the null rows
df = df.dropna()

# Remove the `Issued` loan status
issued_mask = df['loan_status'] != 'Issued'
df = df.loc[issued_mask]

# convert interest rate to numerical
df['int_rate'] = df['int_rate'].str.replace('%', '')
df['int_rate'] = df['int_rate'].astype('float') / 100


# Convert the target column values to low_risk and high_risk based on their values
x = {'Current': 'low_risk'}   
df = df.replace(x)

x = dict.fromkeys(['Late (31-120 days)', 'Late (16-30 days)', 'Default', 'In Grace Period'], 'high_risk')    
df = df.replace(x)

df.reset_index(inplace=True, drop=True)

df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,n,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,n,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,n,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,low_risk,n,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,low_risk,n,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

In [8]:
df_encoded = pd.get_dummies(df, columns=['verification_status','home_ownership','initial_list_status','pymnt_plan','issue_d','next_pymnt_d','application_type','hardship_flag','debt_settlement_flag','loan_status'])
#Dropping hardship_flag_N','debt_settlement_flag_N columns because their values are the same across all rows.
#Keeping loan status high risk column, eliminating low risk column too.
df_encoded = df_encoded.drop(['pymnt_plan_n','hardship_flag_N','debt_settlement_flag_N','loan_status_low_risk'], axis=1)

df_encoded.head()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,initial_list_status_f,initial_list_status_w,issue_d_Feb-2019,issue_d_Jan-2019,issue_d_Mar-2019,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019,application_type_Individual,application_type_Joint App,loan_status_high_risk
0,10500.0,0.1719,375.35,66000.0,27.24,0.0,0.0,8.0,0.0,1609.0,...,0,1,0,0,1,0,1,1,0,0
1,25000.0,0.2000,929.09,105000.0,20.23,0.0,0.0,17.0,1.0,18368.0,...,0,1,0,0,1,0,1,1,0,0
2,20000.0,0.2000,529.88,56000.0,24.26,0.0,0.0,8.0,0.0,13247.0,...,0,1,0,0,1,0,1,1,0,0
3,10000.0,0.1640,353.55,92000.0,31.44,0.0,1.0,10.0,1.0,17996.0,...,0,1,0,0,1,0,1,1,0,0
4,22000.0,0.1474,520.39,52000.0,18.76,0.0,1.0,14.0,0.0,9091.0,...,0,1,0,0,1,0,1,1,0,0

# Split the Data into Training and Testing

In [9]:
# Create our features
X = df_encoded.copy()
X = X.drop('loan_status_high_risk', axis=1)

# Create our target
y = df_encoded['loan_status_high_risk'].values

In [10]:
X.describe()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,home_ownership_RENT,initial_list_status_f,initial_list_status_w,issue_d_Feb-2019,issue_d_Jan-2019,issue_d_Mar-2019,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019,application_type_Individual,application_type_Joint App
count,68817.000000,68817.000000,68817.000000,6.881700e+04,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,...,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000
mean,16677.594562,0.127718,480.652863,8.821371e+04,21.778153,0.217766,0.497697,12.587340,0.126030,17604.142828,...,0.357659,0.123879,0.876121,0.371696,0.451066,0.177238,0.383161,0.616839,0.860340,0.139660
std,10277.348590,0.048130,288.062432,1.155800e+05,20.199244,0.718367,0.758122,6.022869,0.336797,21835.880400,...,0.479314,0.329446,0.329446,0.483261,0.497603,0.381873,0.486161,0.486161,0.346637,0.346637
min,1000.000000,0.060000,30.890000,4.000000e+01,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,9000.000000,0.088100,265.730000,5.000000e+04,13.890000,0.000000,0.000000,8.000000,0.000000,6293.000000,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
50%,15000.000000,0.118000,404.560000,7.300000e+04,19.760000,0.000000,0.000000,11.000000,0.000000,12068.000000,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000
75%,24000.000000,0.155700,648.100000,1.040000e+05,26.660000,0.000000,1.000000,16.000000,0.000000,21735.000000,...,1.000000,0.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,0.000000
max,40000.000000,0.308400,1676.230000,8.797500e+06,999.000000,18.000000,5.000000,72.000000,4.000000,587191.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [11]:
# Check the balance of our target values
Counter(y)

Counter({0: 68470, 1: 347})

In [12]:
# Split the X and y into X_train, X_test, y_train, y_test
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
# Splitting into Train and Test sets
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=1)

# Creating StandardScaler instance
scaler = StandardScaler()

# Fitting Standard Scaler
X_scaler = scaler.fit(X_train)

# Scaling data
X_train = X_scaler.transform(X_train)
X_test = X_scaler.transform(X_test)

# Ensemble Learners

In this section, you will compare two ensemble algorithms to determine which algorithm results in the best performance. You will train a Balanced Random Forest Classifier and an Easy Ensemble AdaBoost classifier . For each algorithm, be sure to complete the folliowing steps:

1. Train the model using the training data. 
2. Calculate the balanced accuracy score from sklearn.metrics.
3. Print the confusion matrix from sklearn.metrics.
4. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.
5. For the Balanced Random Forest Classifier onely, print the feature importance sorted in descending order (most important feature to least important) along with the feature score

Note: Use a random state of 1 for each algorithm to ensure consistency between tests

### Balanced Random Forest Classifier

In [13]:
from imblearn.ensemble import BalancedRandomForestClassifier
brf = BalancedRandomForestClassifier(n_estimators=100, random_state=0)
brf.fit(X_train, y_train)
y_pred = brf.predict(X_test)

In [14]:
# Calculated the balanced accuracy score
balanced_accuracy_score(y_test, y_pred)

0.7735478470672137

In [15]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"],
    columns=["Predicted 0", "Predicted 1"]
)

# Displaying results
display(cm_df)

          Predicted 0  Predicted 1
Actual 0        15454         1650
Actual 1           36           65

In [16]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.90      0.64      0.95      0.76      0.60     17104
          1       0.04      0.64      0.90      0.07      0.76      0.57       101

avg / total       0.99      0.90      0.65      0.94      0.76      0.60     17205

In [17]:
# List the features sorted in descending order by feature importance
importances = brf.feature_importances_
sorted(zip(importances, X.columns), reverse=True)

[(0.07914919030281839, 'total_rec_prncp'),
 (0.06983073838809287, 'total_pymnt'),
 (0.056375712621733985, 'total_rec_int'),
 (0.05369951093003135, 'total_pymnt_inv'),
 (0.04108847557770385, 'last_pymnt_amnt'),
 (0.03067023483535248, 'int_rate'),
 (0.025423327056088154, 'issue_d_Jan-2019'),
 (0.02013284350965025, 'installment'),
 (0.019645714536389185, 'dti'),
 (0.01853477308664698, 'mths_since_recent_inq'),
 (0.017502292676678733, 'out_prncp'),
 (0.01597707883730479, 'out_prncp_inv'),
 (0.015373666189993569, 'annual_inc'),
 (0.014955971318115966, 'bc_util'),
 (0.01485422054104873, 'mths_since_rcnt_il'),
 (0.01461222151416163, 'total_acc'),
 (0.013992940705149705, 'tot_hi_cred_lim'),
 (0.013911609059634712, 'total_bc_limit'),
 (0.013897518927926523, 'issue_d_Mar-2019'),
 (0.013856511249131377, 'tot_cur_bal'),
 (0.013754568354485028, 'mo_sin_old_il_acct'),
 (0.013592311583391145, 'total_bal_il'),
 (0.013574566579126859, 'total_bal_ex_mort'),
 (0.013365333253563809, 'avg_cur_bal'),
 (0.013280802986135395, 'mths_since_recent_bc'),
 (0.013232194509216446, 'max_bal_bc'),
 (0.013041310002864634, 'mo_sin_old_rev_tl_op'),
 (0.012866726318729644, 'loan_amnt'),
 (0.012664220400973307, 'revol_bal'),
 (0.012519883772611465, 'total_il_high_credit_limit'),
 (0.01231082231301236, 'all_util'),
 (0.012219433613912482, 'pct_tl_nvr_dlq'),
 (0.01215973515757074, 'bc_open_to_buy'),
 (0.011235794132079199, 'il_util'),
 (0.010657231555334669, 'total_rev_hi_lim'),
 (0.010546525436817234, 'mo_sin_rcnt_rev_tl_op'),
 (0.009856920971549683, 'num_rev_accts'),
 (0.009730833700623283, 'num_il_tl'),
 (0.00972920906858245, 'acc_open_past_24mths'),
 (0.009527594267747012, 'inq_last_12m'),
 (0.008986814146853232, 'mo_sin_rcnt_tl'),
 (0.008959127052380687, 'num_bc_tl'),
 (0.008584124900768191, 'num_op_rev_tl'),
 (0.007902087571528034, 'inq_last_6mths'),
 (0.007859544003377468, 'num_sats'),
 (0.00765901110514354, 'num_tl_op_past_12m'),
 (0.0076364456942219945, 'num_actv_bc_tl'),
 (0.007527229179038782, 'num_rev_tl_bal_gt_0'),
 (0.007294547148099029, 'total_cu_tl'),
 (0.007131445695892625, 'open_acc'),
 (0.007102171893379315, 'num_bc_sats'),
 (0.007020171812931107, 'inq_fi'),
 (0.0069860401742703965, 'num_actv_rev_tl'),
 (0.006691775417044081, 'open_il_24m'),
 (0.006530263976478716, 'percent_bc_gt_75'),
 (0.006313929606866125, 'open_il_12m'),
 (0.0062300321166328075, 'open_acc_6m'),
 (0.005865494038148091, 'open_rv_24m'),
 (0.005333997981118541, 'issue_d_Feb-2019'),
 (0.005108198986035601, 'next_pymnt_d_May-2019'),
 (0.005037036037159704, 'open_act_il'),
 (0.004846970055655534, 'total_rec_late_fee'),
 (0.004568475298355608, 'mort_acc'),
 (0.004078851677110533, 'open_rv_12m'),
 (0.003955633701203233, 'tot_coll_amt'),
 (0.0038310947333763355, 'num_accts_ever_120_pd'),
 (0.002844991088910767, 'verification_status_Not Verified'),
 (0.0024972026054168534, 'delinq_2yrs'),
 (0.0022450207305103665, 'home_ownership_OWN'),
 (0.0022208176887558865, 'pub_rec'),
 (0.002148761572628204, 'next_pymnt_d_Apr-2019'),
 (0.0020679719170058988, 'home_ownership_RENT'),
 (0.0018489628054723481, 'verification_status_Verified'),
 (0.0015880730707175227, 'application_type_Joint App'),
 (0.0015715250896422427, 'application_type_Individual'),
 (0.0014857479963491587, 'verification_status_Source Verified'),
 (0.0014563415953187094, 'home_ownership_MORTGAGE'),
 (0.0012474661685864617, 'pub_rec_bankruptcies'),
 (0.0012471552368024709, 'initial_list_status_w'),
 (0.0011904322230983722, 'initial_list_status_f'),
 (0.0007262587795165396, 'num_tl_90g_dpd_24m'),
 (0.0005331192633142045, 'collections_12_mths_ex_med'),
 (0.0004635989514227012, 'home_ownership_ANY'),
 (0.00022546937148202272, 'chargeoff_within_12_mths'),
 (0.0, 'tax_liens'),
 (0.0, 'recoveries'),
 (0.0, 'policy_code'),
 (0.0, 'num_tl_30dpd'),
 (0.0, 'num_tl_120dpd_2m'),
 (0.0, 'delinq_amnt'),
 (0.0, 'collection_recovery_fee'),
 (0.0, 'acc_now_delinq')]

### Easy Ensemble AdaBoost Classifier

In [19]:
# Train the Classifier
from imblearn.ensemble import EasyEnsembleClassifier
eec = EasyEnsembleClassifier(base_estimator=None, n_estimators=100, n_jobs=1,
            random_state=1, replacement=False, sampling_strategy='auto',
            verbose=0, warm_start=False)
eec.fit(X_train, y_train)

EasyEnsembleClassifier(n_estimators=100, n_jobs=1, random_state=1)

In [20]:
# Calculated the balanced accuracy score
y_pred = eec.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.9319231677611166

In [21]:
# Display the confusion matrix
cm = confusion_matrix(y_test, y_pred)
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"],
    columns=["Predicted 0", "Predicted 1"]
)

# Displaying results
display(cm_df)

          Predicted 0  Predicted 1
Actual 0        16130          974
Actual 1            8           93

In [22]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.94      0.92      0.97      0.93      0.87     17104
          1       0.09      0.92      0.94      0.16      0.93      0.87       101

avg / total       0.99      0.94      0.92      0.97      0.93      0.87     17205